---
---

// Colors of the plugin icon: amber on blue.
$header-bg-color: #0060ac;
$header-bg-color-secondary: #003f73;
$section-headings-color: #0060ac;
$body-link-color: #0060ac;

@import "{{ site.theme }}";
